@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


:root {
    /* ---Colors-----*/

    --body-color: #fff;
    --background-color: #f0f0f0;
    --primary-color: #444;
    --input-color: #acacac;
    --primary-color-light: #F6F5FF;
    --toggler-color: #DDD;
    --text-color: #707070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: "Poppins", sans-serif;
}

/* Estilos específicos para a página */
.navbar {
    background-color: var(--primary-color-light);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
}

.navbar-toggler-icon {
    background-color: var(--text-color);
}

.navbar-nav .nav-link {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
}

.navbar-nav .nav-link:hover {
    color: var(--media-color);
}

.dropdown-menu {
    background-color: var(--primary-color-light);
}

.dropdown-item {
    color: var(--text-color);
}

.dropdown-item:hover {
    background-color: var(--media-color);
    color: var(--text-color);
}

.py-4 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .title {
    font-size: 2.2rem;
    color:var(--primary-color);
    margin-bottom: 10px;
  }
  
  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: var(--background-color);
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    overflow: hidden;
  }
  
  .input-field i {
    text-align: center;
    line-height: 55px;
    color:var(--input-color);
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--primary-color);
  }
  
  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }

  .btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }

  .btn:hover {
    background-color: #4d84e2;
  }