/* Estilos gerais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box{
  width: 100%;
}


/* Estilos do título */
.titulo {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;

}

/* Estilos do formulário */
.data {
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  display:flex;
  flex-wrap: wrap;
}

.data-input {
  flex-direction: column;
  margin: 8px;
}

.text1 {
  font-weight: normal;
  color: var(--text-color);
  margin-bottom: 5px;
}

.text2 {
  color: var(--text-color);
  font-size: calc(8px + 0.5vw);
}

.dt {
  width: 150px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: calc(2px + 1vw);
}

.gerar {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color:var(--sidebar-color);
  color: var(--sidebar-color);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gerar:hover,
.gerar:hover .text1 {
  background-color: var(--primary-color);
  color: var(--sidebar-color);
}


/* Estilos da seção de resultados */
.result {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

/* Estilos da lista */
.lista {
  flex-wrap: wrap;
  list-style: none;
  width: 93%;
  border-collapse: collapse;
  margin-left: 10px;
}

.lista li {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: var(--sidebar-color);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Estilos para o conteúdo principal */
.content {

  transition: var(--tran-05);
  width: 100%;
  margin-left: 12px;
}


.box table {
  width: 93%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 10px; 
  overflow: hidden; 
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: var(--tran-03);
  margin-right: 20px;
}

th,
td {
  padding: 8px;
  text-align: center;
}

td {
  color: var(--text-color);
  font-size: calc(8px + 0.5vw);;
}

th {
  background-color: var(--primary-color-light);
  color: var(--text-color);
  font-size: calc(10px + 0.5vw);
}

tbody tr:nth-child(even) {
  background-color: var(--primary-color-light);
}

tbody tr:nth-child(odd) .button a {
  background: var(--body-color);
}

td:nth-child(4) {
  display: flex;
  justify-content: center;
}
