/* Declaração das variáveis */
:root {
    --body-color: #fff;
    --text-color: #333;
    --primary-color-light: #ccc;
    --tran-03: 0.3s;
    --tran-05: 0.5s;
  }
  
  /* Uso das variáveis */
  body {
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  th {
    background-color: var(--primary-color-light);
    color: var(--text-color);
  }
  
  /* Alteração das variáveis quando o modo escuro está ativado */
  body.dark {
    --body-color: #333;
    --text-color: #fff;
    --primary-color-light: #666;
  }
  
  