/* Estilos da caixa principal */
.box {
 
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;

}

.text1 {
    font-weight: normal;
    color: var(--text-color);
    margin-bottom: 5px;
}

/* Estilos do título */
.titulo {
    text-align: center;
    font-size: 2em;
    color: var(--text-color);
    margin-bottom: 20px;
}

/* Estilos do botão */
.button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.button a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--sidebar-color);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button a:hover,
.button a:hover .text1
 {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

/* Estilos da lista */
/* Estilos da lista */
.lista {
    list-style-type: none;
    padding: 0;
    column-count: 2; /* Adicionado para criar duas colunas */
}

.lista li {
    background-color: var(--sidebar-color);
    margin-bottom: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    break-inside: avoid; /* Evita que os itens da lista sejam divididos entre as colunas */
}


.lista li div {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.lista li div div {
    display: flex;
    justify-content:flex-start;
    margin: 10px;
}


